<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
</head>
<body class="max-w-sm mx-auto bg-gray-400 shadow-lg rounded-lg">
	<div id="app" class="max-w-sm mx-auto p-6 bg-white rounded-lg shadow-xl mt-10">
		<h3 class="text-xl text-gray-800 leading-tight">สูตรคูณแม่ {{n}}</h3>
		<h3 class="text-l text-gray-600 leading-normal">แม่ก่อนหน้า {{before_n}}</h3>
		<input type="number" v-model='n' class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2 mt-3">
		<input type="number" v-model='row'class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4">

		<h4 class="text-l text-gray-800 leading-normal" v-for='i in r'>
			{{n}} x {{i}} = {{x(i)}}</h4>
		<h4 class="text-xl text-gray-600 leading-normal mt-3" type="number">ผลรวม : {{sum(r)}}</h4>
		
	</div>

	<script>
		let app = new Vue({
			el:'#app',
			data: {
				n:2,
				before_n:1,
				row:12
			},
			methods: {
				x: function(row){
					return this.n*row
				},
				sum: function(row){
					allsum = 0
					for (let i=1; i <= row; i++ ){
						allsum += this.n*i
					}
					return allsum
				}
			},
			computed: {
				r: function(){
					return parseInt(this.row)
				}

				
			},
			watch: {
				n: function(a, b){
					this.before_n = b
				}
			}
		})
	</script>
</body>
</html>